body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
  font-size: 14px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

color-light {
  color: #7AAAD8; /* rgb(122, 170, 216) */
}

color-normal {
  color: #2D6AA8; /* rgb(45,106,168) */
}

color-dark {
  color:#1b234d; /* rgb(34, 45, 98) */
}

color-logo {
  color: rgb(84, 184, 213);
}